:root {
  color: white;
}

* {
  color: black;
}

h1,
#blue {
  color: blue;
}
.green {
  color: green;
}
section .box div {
  background: green;
}

section .box p {
  background: red;
}
.brown {
  background: #4c3100;
  color: white;
}
ul > li {
  background: red;
}
.header-button + span {
  background: red;
}
.susid ~ p {
  background: blue;
  color: white;
}
.salo,
#bread {
  background: yellow;
}
.first-task > ul > li:first-child {
  color: white;
}
.second-task > ul:nth-child(1) > li:first-child {
  color: yellow;
}
.third-task > ul:nth-child(2) > li:first-child {
  color: yellow;
}
.four-task > ul > li:last-child {
  color: yellow;
}
.five-task > ul:nth-child(2) > li:last-child {
  color: white;
}
.only-child-task > div:only-child {
  color: red;
}
.seven-task > span:first-of-type {
  color: red;
}
.eight-task > span:last-of-type {
  color: red;
}
.text-wrapper > p:only-of-type {
  background: yellow;
}
a[href] {
  color: white;
}
.lesson-three-task-two > li[value] {
  color: yellow;
}
.lesson-three-task-three > li[value] {
  background: red;
}
.lesson-three-task-four > button[class~='primary'] {
  background: blue;
}
.lesson-three-task-five > button[class^='secondary'] {
  background: red;
}
.lesson-three-task-six > ul > li[class^='b'] {
  background: white;
  color: green;
}
.lesson-three-task-seven > ul > li[class*='on'] {
  background: white;
  color: green;
}
.lesson-three-task-eight > ul > li > span[class$='s'] {
  background: white;
  color: blue;
}
.lesson-three-task-nine > h2::first-letter {
  color: red;
}
.lesson-three-task-ten::first-line {
  color: yellow;
}
.lesson-three-task-eleven > input::placeholder {
  background: red;
}
.lesson-three-task-twelve > ul > li::before {
  content: 'â¤';
}
.lesson-three-task-thirteen > ul > li::after {
  content: 'â¤';
}
